// ******************************** COLORS
$primaryDark: #1d1f2b;
$primaryLight: #78c483;
$primaryLight2: #5dbe6b;
$primaryWhite: #ffffff;

// ******************************** AVATAR
$avatarWidth: 36vw;
$avatarEyeScale: 0.11;
$avatarEyeWidth: $avatarWidth * $avatarEyeScale;
$success: #0a8f00;
$successBright: #12ff00;
$warning: #ffbd3a;
$error: #e5342f;
$info: #468ee5;
