// colors
$primary: #0075ff;
$secondary: #002b5e;
$primaryDark: #151618;
$secondaryDark: #3d3c43;
$secondaryDark2: #1e1f22;
$primaryLight: #ffffff;
$success: #0a8f00;
$successBright: #12ff00;
$warning: #ffbd3a;
$error: #e5342f;
$info: #468ee5;
$primaryWhite: #ffffff;
$teal: #2bebc8;
$gray: #60626c;

// responsive design breakpoints
$xl: 1536px; // 4k and hi-res desktop
$lg: 1200px; // 1080 and hi-res laptops
$md: 900px; // hi-res tablets and low-res laptops
$sm: 600px; // mobile and low-res tablets
$xs: 0px; // mobile only
